@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,700');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "arial";
  background-color: whitesmoke;
}

.header-inner-content {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}

.navbar {
  background-color: #b5121b;
  padding: 0.5 rem 1rem;
  height: 60px;
  position: sticky;
  top: 0;
  box-shadow: 10px 0px 10px #c2222a;
  z-index: 99;
}

.navbar>div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 1.5rem;
  color: white;
}

.logo span {
  color: white;
}

.logo1 {
  width: 70px;
}

.logo-container {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

nav {
  margin-right: 1.2rem;
}

nav ul {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
}

nav ul li {
  margin-right: 5rem;
  cursor: pointer;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
}

nav ul li:hover {
  transform: translateY(-5px);
  transition: all 0.2s;
  font-weight: bold;
}

#login-btn img {
  width: 30px;
  height: auto;
  cursor: pointer;
}

.slider {
  margin: 50px auto 0;
  width: 800px;
  height: 400px;
  overflow: hidden;
  border-radius: 30px;
  box-shadow: 0px 0px 10px rgba(194, 34, 42, 0.5);
}

.slides {
  width: 400%;
  height: 400px;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 25%;
  position: relative;
  transition: 2s;
}

.slide img {
  width: 800px;
}

.manual-navigation {
  position: absolute;
  width: 800px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.manual-btn {
  border: 2px solid white;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child) {
  margin-right: 40px;
}

.manual-btn:hover {
  background-color: #b5121b;
}

#radio1:checked~.first {
  margin-left: 0;
}

#radio2:checked~.first {
  margin-left: -25%;
}

#radio3:checked~.first {
  margin-left: -50%;
}

#radio4:checked~.first {
  margin-left: -75%;
}

.navigation-auto div {
  border: 2px solid #b5121b;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.navigation-auto {
  position: absolute;
  width: 800px;
  margin-top: 360px;
  display: flex;
  justify-content: center;
}

.navigation-auto div:not(:last-child) {
  margin-right: 40px;
}

#radio1:checked~.navigation-auto .auto-btn1 {
  background-color: white;
}

#radio2:checked~.navigation-auto .auto-btn2 {
  background-color: white;
}

#radio3:checked~.navigation-auto .auto-btn3 {
  background-color: white;
}

#radio4:checked~.navigation-auto .auto-btn4 {
  background-color: white;
}

footer {
  position: fixed;
  bottom: 0;
}

@media(max-height:800px) {
  footer {
    position: static;
  }

  header {
    padding-top: 40px;
  }
}

footer {
  position: fixed;
  bottom: 0;
}

@media (max-height:800px) {
  footer {
    position: static;
  }

  header {
    padding-top: 40px;
  }
}

.footer-distributed {
  background-color: black;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 50px 50px 60px 50px;
  margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* Footer left */
.footer-distributed .footer-left {
  width: 30%;
}

.footer-distributed h3 {
  color: white;
  font: normal 36px arial;
  margin: 0;
}

.footer-distributed h3 span {
  color: #b5121b;
}

/* Footer links */
.footer-distributed .footer-links {
  color: white;
  margin: 20px 0 12px;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name {
  color: #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */
.footer-distributed .footer-center {
  width: 35%;
}

.footer-distributed .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: white;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: white;
  text-decoration: none;
  ;
}

/* Footer Right */
.footer-distributed .footer-right {
  width: 30%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: white;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons {
  margin-top: 25px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: white;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
}

.footer-distributed .footer-icons a:hover {
  background-color: white;
}

.footer-links a:hover {
  color: white;
}

@media (max-width: 880px) {

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i {
    margin-left: 0;
  }
}