/* Estilos para todos os elementos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
}

html {
  scroll-behavior: smooth;
}

body {
  color: white;
  background: url(/teste/img/img-fundoTeste6.jpeg) no-repeat;
  background-size: cover;
  background-position: center;
}

/* Estilos para o cabeçalho */
header {
  width: 101%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  border: 3px solid white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  margin-top: -2.6px;
  margin-left: -3px;
}

.logo {
  width: 200px;
  cursor: pointer;
  margin-left: 8%;
}

.logo:hover {
  transform: scale(0.93);
  transition: all 0.5s;
}

header ul {
  list-style: none;
  display: flex;
  gap: 130px;
}

header ul li {
  display: inline-block;
}

header ul li a {
  font-size: 19px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

header ul li:hover {
  transform: scale(0.93);
  transition: all 0.5s;
}


/* Estilos para o botão de login */
.btn {
  display: flex;
  align-items: center;
  padding: 5px 15px;
  border: 2px solid white;
  border-radius: 15px;
  background: none;
  color: white;
  font-size: 19px;
  font-weight: 550;
  cursor: pointer;
  margin-right: 1%;
}

.btn:hover {
  transform: scale(0.95);
  transition: all 0.4s;
}

.btn a {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
}

.btn img {
  width: 25px;
  margin-right: 8px;
  display: flex;
  align-items: center;
}

/* Estilos responsivos */
@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
  }

  .logo {
    width: 200px;
    margin-bottom: 10px;
  }

  header ul {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
  }

  header ul li {
    display: block;
  }

  .btn {
    width: 100%;
    justify-content: center;
    margin-top: 10px;
  }
}

/* Estilos para os cards */
.card-pt1 {
  margin-top: 11%;
  /* Adiciona uma margem superior */
  display: flex;
  /* Usa um layout flexível para os cards */
  gap: 3.5%;
  /* Define o espaço entre os cards */
  place-items: center;
  /* Alinha os itens no centro */
  justify-content: center;
  /* Centraliza os cards */
  display: flex;
  flex-wrap: wrap;
}

.card-pt2 {
  margin-top: 2%;
  /* Adiciona uma margem superior */
  display: flex;
  /* Usa um layout flexível para os cards */
  gap: 3.5%;
  /* Define o espaço entre os cards */
  place-items: center;
  /* Alinha os itens no centro */
  justify-content: center;
  /* Centraliza os cards */
}

.card {
  background: transparent;
  width: 280px;
  /* Define a largura do card */
  height: 380px;
  /* Define a altura do card */
  aspect-ratio: 1 / 0.7;
  /* Define a proporção do card */
  border-radius: 8px;
  /* Adiciona bordas arredondadas */
  position: relative;
  /* Define a posição como relativa */
  margin-bottom: 60px;
  backdrop-filter: grayscale(0.1) brightness(0.65);
}

.card .image-box {
  width: 100%;
  /* Define a largura como 100% */
  height: 100%;
  /* Define a altura como 100% */
  border: 2px solid white;
  /* Adiciona uma borda branca */
  border-radius: 10px;
  /* Adiciona bordas arredondadas */
}

.card .image-box img {
  width: 15%;
  /* Define a largura como 100% */
  height: 11%;
  /* Define a altura como 100% */
  border: 2px solid white;
  /* Adiciona uma borda branca */
  border-radius: 50%;
  /* Adiciona bordas arredondadas */
  margin-left: 42.5%;
  margin-top: 24%;

}

.card:hover {
  box-shadow: 0 0 20px white;
  /* Adiciona uma sombra ao passar o mouse */
  transition: 0.3s;
  /* Adiciona uma transição suave */
}

.content {
  width: 80%;
  /* Define a largura como 80% */
  position: absolute;
  /* Define a posição como absoluta */
  top: 63%;
  /* Define a posição superior como 51% */
  left: 50%;
  /* Define a posição esquerda como 50% */
  transform: translate(-50%, -50%);
  /* Move o elemento para o centro */
  text-align: center;
  /* Centraliza o texto */
}

.content h2,
.content p,
.content img,
.content h1,
.content .img2 {
  opacity: 0;
  /* Define a opacidade como 0 */
  transition: 0.4s 0.2s ease;
  /* Adiciona uma transição suave */
}

.content img {
  width: 100px;
  /* Define a largura da imagem */
  margin-right: 85px;
  /* Adiciona uma margem à direita */
}

.content h1 {
  font-size: 22px;
  /* Define o tamanho da fonte */
  margin-top: -40px;
  /* Move o texto para cima */
}

.content .img2 {
  width: 100px;
  /* Define a largura da imagem */
  margin-left: 105px;
  /* Adiciona uma margem à esquerda */
  margin-top: -35px;
  /* Move a imagem para cima */
}

.content .img3 {
  width: 80px;
  /* Define a largura da imagem */
  margin-left: 115px;
  /* Adiciona uma margem à esquerda */
  margin-top: -35px;
  /* Move a imagem para cima */
}

.content h2 {
  margin-bottom: 12px;
  /* Adiciona uma margem inferior */
  scale: 0.7;
  /* Define a escala como 0.7 */
  font-size: 17px;
  /* Define o tamanho da fonte */
  margin-top: 30px;
  /* Adiciona uma margem superior */
}

.content p {
  font-size: 14px;
  /* Define o tamanho da fonte */
  line-height: 1.5;
  /* Define a altura da linha */
  color: white;
  /* Define a cor do texto como cinza claro */
  transform: translateY(50%);
  /* Move o elemento verticalmente */
}

.content a {
  text-decoration: none;
}

.card .content img {
  scale: 1.2;
  /* Define a escala como 1.2 */
  opacity: 3;
  /* Define a opacidade como 3 */
  filter: none;
  /* Remove o filtro */
}

.card .content h1 {
  scale: 1.2;
  /* Define a escala como 1.2 */
  opacity: 3;
  /* Define a opacidade como 3 */
}

.card .content h2 {
  scale: 1;
  /* Define a escala como 1 */
  opacity: 1;
  /* Define a opacidade como 1 */
}

.card .content p {
  opacity: 1;
  /* Define a opacidade como 1 */
  transform: translateY(0);
  /* Move o elemento verticalmente */
}

.btn-comprar {
  padding: 6px 5px;
  /* Adiciona preenchimento interno */
  border: 10;
  /* Define a largura da borda */
  border-color: white;
  /* Define a cor da borda como branco */
  outline: 0;
  /* Remove o contorno ao focar */
  border-radius: 7px;
  /* Adiciona bordas arredondadas */
  background: none;
  /* Remove o plano de fundo */
  color: white;
  /* Define a cor do texto como branco */
  font-size: 15px;
  /* Define o tamanho da fonte */
  font-weight: 400;
  /* Define a espessura da fonte */
  cursor: pointer;
  /* Define o cursor como ponteiro */
  margin-top: 25px;
  /* Adiciona uma margem superior */
}

.btn-deletar {
  padding: 6px 5px;
  /* Adiciona preenchimento interno */
  border: 10;
  /* Define a largura da borda */
  border-color: white;
  /* Define a cor da borda como branco */
  outline: 0;
  /* Remove o contorno ao focar */
  border-radius: 7px;
  /* Adiciona bordas arredondadas */
  background: none;
  /* Remove o plano de fundo */
  color: white;
  /* Define a cor do texto como branco */
  font-size: 15px;
  /* Define o tamanho da fonte */
  font-weight: 400;
  /* Define a espessura da fonte */
  cursor: pointer;
  /* Define o cursor como ponteiro */
  margin-top: 25px;
  /* Adiciona uma margem superior */
}

.btn-comprar:hover {
  transform: scale(0.95);
  /* Aplica uma escala de aumento no hover */
  transition: 0.3s;
  /* Adiciona uma transição suave */
}

.btn-comprar a {
  text-decoration: none;
  /* Remove a decoração do texto */
  color: white;
  /* Define a cor do texto como branco */
}

.btn-comprar img {
  width: 15px;
  /* Define a largura da imagem */
  margin-right: 10px;
  /* Adiciona uma margem à direita */
  margin-bottom: -2px;
  /* Move a imagem para baixo */
}