/* Importação de fontes */
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@100;300;400;500;700;900&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

/* Estilos globais */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}

/* Estilos do corpo */
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: whitesmoke;
}

/* Contêiner principal */
.container {
  background-color: whitesmoke;
  padding: 6px;
  width: 450px;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 10px #B5121B;
}

/* Estilos do formulário */
form {
  position: absolute;
  margin-top: 220px;
  transition: .5s;
  width: 300px;
  height: 400px;
  margin-left: 50px;
}

/* Botões do formulário */
.buttonsForm {
  margin-top: 30px;
  position: relative;
  border-radius: 30px;
  box-shadow: 0 0 7px 0 #B5121B;
}

.buttonsForm button {
  cursor: pointer;
  background: transparent;
  border: none;
  position: relative;
  padding: 10px 29px;
}

.btnColor {
  position: absolute;
  width: 108px;
  height: 100%;
  background: linear-gradient(to right, #fd8585, #B5121B);
  border-radius: 30px;
  transition: .3s;
}

/* Entrada de texto */
input[type="text"], input[type="password"] {
  border: none;
  margin-top: 30px;
  border-radius: 60px;
  padding: 8px 0 8px 35px;
  outline: none;
  width: 100%;
}

/* Botão de envio */
button[type="submit"] {
  background: #B5121B;
  color: white;
  border-radius: 30px;
  width: 100%;
  border: none;
  outline: none;
  padding: 8px 0 8px 15px;
  font-size: 15px;
  margin-top: 10px;
  cursor: pointer;
}

/* Caixa de seleção e rótulo */
.divCheck {
  margin: 10px 0 0 5px;
  width: 80%;
  font-size: 13px;
}

/* Posicionamento dos formulários */
#signin {
  left: 1000px;
}

#signup {
  left: 450px;
}

/* Ícones */
i {
  position: absolute;
  left: 0;
  padding: 10px 10px;
}

.iEmail {
  top: 30px;
}

.iPassword {
  top: 95px;
}

.iPassword2 {
  top: 160px;
}   

.iCalendar {
  top: 224px;
}      

/* Estilos do logotipo */
.logo {
  width: 100px;
  height: 100px;
  margin-top: 25px;
}

/* Estilos da imagem */
.imagem {
  width: 800px;
  height: 600px;
  box-shadow: 0px 0px 10px 0px red;
}
