/* Definição de estilos para todos os elementos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

html {
  scroll-behavior: smooth;
}

/* Estilos para o cabeçalho */
header {
  width: 100%;
  /* Ajuste para centralizar o cabeçalho */
  margin-top: -12.5%;
  /* Ajuste para posição */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  position: absolute;
  background-color: #b5121b;
  /* Cor de fundo */
}

/* Estilos para o corpo da página */
body {
  color: white;
  /* Cor do texto */
  background: url(/teste/img/img-fundoTeste6.jpeg) no-repeat;
  background-size: cover;
  background-position: center;
}

/* Estilos para o logotipo */
.logo {
  width: 205px;
  cursor: pointer;
  margin-left: 65%;
}

.logo:hover {
  transform: scale(0.93);
  /* Efeito de escala no hover */
  transition: all 0.5s;
  /* Duração da transição */
}

/* Estilos para o título do menu */
.titulo-menu {
  margin-left: 2px;
  font-size: 25px;
  cursor: pointer;
  font-weight: 400;
}

.titulo-menu:hover {
  transform: scale(1.05);
  /* Efeito de escala no hover */
  transition: all 0.5s;
  /* Duração da transição */
}

/* Estilos para a lista de links no cabeçalho */
header ul {
  list-style: none;
  width: 100%;
  text-align: right;
  margin-right: 19%;
}

header ul li {
  display: inline-block;
  margin: 10px 35px;
}

header ul li a {
  font-size: 19px;
  color: white;
  text-decoration: none;
  font-weight: bolder;
}

header ul li:hover {
  transform: scale(0.93);
  /* Efeito de escala no hover */
  transition: all 0.5s;
  /* Duração da transição */
}

/* Estilos para o botão */
.btn {
  display: flex;
  align-items: center;
  padding: 5px 8px;
  border-color: white;
  outline: 0;
  border-radius: 15px;
  background: none;
  color: white;
  font-size: 18px;
  font-weight: 550;
  cursor: pointer;
  margin-right: 5%;
}

.btn:hover {
  /* Efeito de escala no hover */
  transform: scale(0.93);
  transition: 0.6s;
}

.btn a {
  text-decoration: none;
  color: white;
}

.btn a:hover {
  transform: none;
}

.btn img {
  width: 20px;
  margin-right: 11px;
}

/* Estilos para o slider */
.slider {
  margin: 50px auto 0;
  margin-top: 11%;
  width: 800px;
  height: 400px;
  overflow: hidden;
  border-radius: 30px;
  box-shadow: 0px 0px 10px rgba(194, 34, 42, 0.5);
}

.slides {
  width: 400%;
  height: 400px;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 25%;
  position: relative;
  transition: 2s;
}

.slide img {
  width: 800px;
}

.manual-navigation {
  position: absolute;
  width: 800px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.manual-btn {
  border: 2px solid white;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child) {
  margin-right: 40px;
}

.manual-btn:hover {
  background-color: #b5121b;
}

#radio1:checked~.first {
  margin-left: 0;
}

#radio2:checked~.first {
  margin-left: -25%;
}

#radio3:checked~.first {
  margin-left: -50%;
}

#radio4:checked~.first {
  margin-left: -75%;
}

.navigation-auto div {
  border: 2px solid #b5121b;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.navigation-auto {
  position: absolute;
  width: 800px;
  margin-top: 360px;
  display: flex;
  justify-content: center;
}

.navigation-auto div:not(:last-child) {
  margin-right: 40px;
}

#radio1:checked~.navigation-auto .auto-btn1 {
  background-color: white;
}

#radio2:checked~.navigation-auto .auto-btn2 {
  background-color: white;
}

#radio3:checked~.navigation-auto .auto-btn3 {
  background-color: white;
}

#radio4:checked~.navigation-auto .auto-btn4 {
  background-color: white;
}

/* Estilos para o rodapé */
footer {
  bottom: 0;
}

/* Estilos para diferentes tamanhos de tela */
@media(max-height:800px) {
  footer {
    position: static;
  }

  header {
    padding-top: 40px;
  }
}

/* Estilos para o rodapé distribuído */
.footer-distributed {
  background-color: black;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 50px 50px 60px 50px;
  margin-top: 113px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* Estilos para a seção esquerda do rodapé */
.footer-distributed .footer-left {
  width: 30%;
}

.footer-distributed h3 {
  color: white;
  font: normal 36px arial;
  margin: 0;
}

.footer-distributed h3 span {
  margin-left: 1.5px;
  color: #b5121b;
}

/* Estilos para os links do rodapé */
.footer-distributed .footer-links {
  color: white;
  margin: 20px 0 12px;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name {
  color: #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Estilos para a seção central do rodapé */
.footer-distributed .footer-center {
  width: 35%;
}

.footer-distributed .footer-center i {
  background-color: transparent;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border: none;
  outline: 2px solid white;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i:hover {
  transition: all 0.3s; /* Adiciona uma transição suave */
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center i.fa-map-marker {
  line-height: 38px;
}


.footer-distributed .footer-center i.fa-map-marker:hover {
  transform: scale(1.05); /* Aplica uma escala de aumento no hover */
  transition: all 0.3s;
}

.footer-distributed .footer-center i.fa-phone:hover {
  transform: scale(1.05); /* Aplica uma escala de aumento no hover */
  transition: all 0.3s; 
}

.footer-distributed .footer-center i.fa-envelope:hover {
  transform: scale(1.05); /* Aplica uma escala de aumento no hover */
  transition: all 0.3s;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: white;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: white;
  text-decoration: none;
}

/* Estilos para a seção direita do rodapé */
.footer-distributed .footer-right {
  width: 30%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: white;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

:root {
  --background: #060D23; /* Define uma variável CSS para a cor de fundo */
  --facebook: #0A66C2; /* Define uma variável CSS para a cor do Facebook */
  --x: #000; /* Define uma variável CSS para a cor preta */
  --white: #FFF /* Define uma variável CSS para a cor branca */
}

.btns-midias-sociais {
  margin-top: 20px; /* Adiciona uma margem superior */
  display: flex; /* Usa um layout flexível para os botões de mídia social */
  flex-wrap: wrap; /* Permite a quebra de linha */
  gap: 1rem; /* Define o espaço entre os botões */
}

.btn-midia-social {
  width: 3rem; /* Define a largura */
  height: 3rem; /* Define a altura */
  border: none; /* Remove a borda */
  background-color: transparent; /* Define o plano de fundo como transparente */
  border-radius: 50%; /* Adiciona bordas arredondadas */
  outline: 2px solid white; /* Adiciona um contorno branco */
  cursor: pointer; /* Define o cursor como ponteiro */
  transition: all 0.3s; /* Adiciona uma transição suave */
  display: grid; /* Usa um layout de grade */
  place-items: center; /* Alinha os itens no centro */
}

.btn-midia-social:hover {
  outline-offset: 3px; /* Define o deslocamento do contorno */
  transition: all 0.3s; /* Adiciona uma transição suave */
}

img {
  width: 15px; /* Define a largura da imagem */
}

.btn-midia-social img {
  transition: all 0.2s; /* Adiciona uma transição suave */
}

.btn-midia-social:hover img {
  transform: scale(1.15); /* Aplica uma escala de aumento no hover */
}

.btn-midia-social:hover:nth-child(1) {
  background-color: var(--x); /* Define a cor de fundo */
}

.btn-midia-social:hover:nth-child(2) {
  background-color: var(--x); /* Define a cor de fundo */
}

.btn-midia-social:hover:nth-child(3) {
  background-color: var(--x); /* Define a cor de fundo */
}

/* Estilos responsivos para tamanhos menores de tela */
@media (max-width: 880px) {

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i {
    margin-left: 0;
  }
}