* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

header {
  width: 104.2%;
  margin-left: -80px;
  margin-top: -13%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  position: absolute;
  background-color: #b5121b;
}

body {
  background-color: whitesmoke;
  color: white;
}

.img-fundo {
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  filter: grayscale(0.3) brightness(0.3);
}

.logo {
  width: 100px;
  cursor: pointer;
  margin-left: 15%;
}

.logo:hover {
  transform: scale(1.05);
  transition: all 0.5s;
}

.titulo-menu {
  margin-left: 2px;
  font-size: 25px;
  cursor: pointer;
  font-weight: bolder;
}

.titulo-menu:hover {
  transform: scale(1.05);
  transition: all 0.5s;
}

header ul {
  list-style: none;
  width: 100%;
  text-align: right;
  padding-right: 1%;
}

header ul li {
  display: inline-block;
  margin: 10px 35px;
}

header ul li a {
  font-size: 19px;
  color: white;
  text-decoration: none;
  font-weight: bolder;
}

header ul li:hover {
  transform: scale(0.93);
  transition: all 0.5s;
}

.btn {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border: 10;
  border-color: white;
  outline: 0;
  border-radius: 7px;
  background: none;
  color: white;
  font-size: 18px;
  font-weight: 550;
  cursor: pointer;
  margin-right: 15%;
}

.btn:hover {
  transform: scale(0.93);
  transition: 0.6s;
}

.btn img {
  width: 20px;
  margin-right: 11px;
}

.card-pt1 {
  margin-top: 13%;
  display: flex;
  gap: 3.5%;
  place-items: center;
  justify-content: center;
  filter: grayscale(0.2) brightness(0.7);
}

.card-pt2 {
  margin-top: 5%;
  display: flex;
  gap: 3.5%;
  place-items: center;
  justify-content: center;
}

.card {
  width: 280px;
  height: 380px;
  aspect-ratio: 1 / 0.7;
  border-radius: 8px;
  position: relative;
  cursor: pointer;
}

.card .image-box {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

.card .image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 90%;
  border-radius: inherit;
  transition: 0.5s ease-in-out;
}

.card::after {
  content: "";
  position: absolute;
  inset: 0;
  border: 2px solid white;
  border-radius: inherit;
  opacity: 0;
  transition: 0.4s ease-in-out;
}

.card:hover img {
  filter: grayscale(0.3) brightness(0.5);
}

.card:hover::after {
  opacity: 100;
  inset: 20px;
}

.content {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.content h2,
.content p,
.content img,
.content h1,
.content .img2 {
  opacity: 0;
  transition: 0.4s 0.2s ease;
}

.content img {
  width: 100px;
  margin-right: 85px;
}

.content h1 {
  font-size: 15px;
  margin-top: -40px;
}

.content .img2 {
  width: 100px;
  margin-left: 105px;
  margin-top: -35px;
}

.content .img3 {
  width: 80px;
  margin-left: 115px;
  margin-top: -35px;
}

.content h2 {
  margin-bottom: 12px;
  scale: 0.7;
  font-size: 17px;
  margin-top: 30px;
}

.content p {
  font-size: 14px;
  line-height: 1.5;
  color: #d1d1d1;
  transform: translateY(50%);
}

.card:hover .content img {
  scale: 1.2;
  opacity: 3;
  filter: none;
}

.card:hover .content h1 {
  scale: 1.2;
  opacity: 3;
}

.card:hover .content h2 {
  scale: 1;
  opacity: 1;
}

.card:hover .content p {
  opacity: 1;
  transform: translateY(0);
}
