body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4; /* Cor de fundo alternativa caso a imagem não carregue */
    background-image: url('img-fundoTeste6.jpeg');  /*Caminho para a imagem de fundo */
    background-size: cover; /* Ajusta a imagem para cobrir toda a área do body */
    background-position: left; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita que a imagem se repita */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Altura total da viewport */
}
.checkout-container {
    width: 80%;
    max-width: 600px; /* Limita a largura máxima para telas maiores */
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(255, 0, 0);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, textarea, select {
    width: 100%;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Padronizando o campo de endereço de entrega */
textarea {
    resize: none; /* Impede o redimensionamento do textarea */
    height: 20px; /* Aumenta a altura para facilitar a entrada de endereços */
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Estilos para a div de informações da loja */
.store-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.store-info img {
    width: 100px; /* Ajuste o tamanho conforme necessário */
    height: auto;
    margin-bottom: 10px;
}

.store-info p {
    text-align: center;
    margin-bottom: 5px;
}


.store-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    text-align: center;
}

.store-info img {
    width: 50px;
    height: auto;
    margin-bottom: 10px;
}

.logo-container {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.logo {
    width: 70px;
    height: 50px;
    border-radius: 50%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 2px;
}

.logo img {
    width: 50px;
    height: auto;
}