/* Estilos para todos os elementos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

body {
    background: url(/teste/img/img-fundoTeste6.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
    background-position: left;
    /* Centraliza a imagem */
    background-repeat: no-repeat;
    /* Evita que a imagem se repita */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* Altura total da viewport */
}

.checkout-container {
    color: white;
    width: 80%;
    max-width: 600px;
    background: transparent;
    backdrop-filter: blur(3px) grayscale(0.2) brightness(0.4);
    padding: 20px;
    border: 3px solid white;
    border-radius: 20px;
    box-shadow: 0px 0px 30px 1px white;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 25px;
}

.store-info .horario {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

input,
textarea {
    width: 100%;
    padding: 7px 0 8px 30px;
    border: none;
    border-radius: 10px;
    background: transparent;
    box-shadow: 0 0 12px 0 white;
    color: white;
    border: 2px solid white;
    outline: none;
}

select {
    width: 100%;
    padding: 7px 0 8px 5px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 12px 0 white;
    color: white;
    border: 2px solid white;
    outline: none;
    background: transparent;
    margin-bottom: 8px;
}

option {
    background-color: white;
    color: rgb(100, 100, 100);
}

i {
    position: absolute;
    left: 0;
    padding: 9px 30px;
}

/* Padronizando o campo de endereço de entrega */
textarea {
    resize: none;
    /* Impede o redimensionamento do textarea */
    height: 20px;
    /* Aumenta a altura para facilitar a entrada de endereços */
}

#qr-code-container img {
    margin-top: 5px;
    margin-bottom: 15px;
    width: 30%;
    margin-left: 34.5%;
}

button {
    display: block;
    width: 50%;
    padding: 10px;
    background: linear-gradient(to right, #d6d6d6, white);
    color: rgb(100, 100, 100);
    border: 2px solid white;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 white;
    cursor: pointer;
    font-size: 20px;
    margin-left: 25%;
    margin-top: 15px;
    margin-bottom: 15px;
}

button:hover {
    transform: scale(0.98);
    transition: all 0.3s;
}

#btn-pagamento {
    display: none;
    /* Oculta o botão inicialmente */
}

/* Estilos para a div de informações da loja */
.store-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.store-info img {
    width: 100px;
    /* Ajuste o tamanho conforme necessário */
    height: auto;
    margin-bottom: 10px;
}

.store-info p {
    text-align: center;
    margin-bottom: 5px;
}


.store-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    text-align: center;
}

.store-info img {
    width: 50px;
    height: auto;
    margin-bottom: 10px;
}

.logo-container {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 10px;
}

.logo-container img {
    width: 90px;
}

.logo {
    width: 70px;
    height: 50px;
    border-radius: 50%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 2px;
}

.logo img {
    width: 50px;
    height: auto;
}