@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@100;300;400;500;700;900&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(/teste/img/img-fundoTeste6.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
}


.container {
    background: transparent;
    padding: 6px;
    width: 360px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 20px #B5121B;
    backdrop-filter: blur(3px) grayscale(0.2) brightness(0.7);
    ;
}

form {
    position: absolute;
    margin-top: 80px;
    transition: .5s;
    width: 300px;
    height: 400px;
    color: white;
}

.buttonsForm {
    margin-top: 40px;
    position: relative;
    border-radius: 30px;
    box-shadow: 0 0 7px 0 #B5121B;
}

.buttonsForm button {
    cursor: pointer;
    background: transparent;
    border: none;
    position: relative;
    padding: 10px 21px;
}

.btnColor {
    position: absolute;
    width: 112px;
    height: 100%;
    background: linear-gradient(to right, #b5121a, #b5121ab0);
    border-radius: 30px;
    transition: .3s;
}

.btnLogin {
    color: white;
    font-size: 15px;
    margin-left: 7px;
}

.btnCadastro {
    color: white;
    font-size: 15px;
    margin-left: 10px;
}

input[type="text"],
input[type="password"] {
    border: none;
    margin-top: 20px;
    border-radius: 60px;
    padding: 8px 0 8px 35px;
    outline: none;
    width: 100%;
    background: transparent;
    box-shadow: 0 0 20px 0 #B5121B;
    color: white;
}

.btn-login {
    background: #B5121B;
    color: white;
    border-radius: 30px;
    width: 100%;
    border: none;
    outline: none;
    padding: 8px 0 8px 15px;
    font-size: 17px;
    cursor: pointer;
}

.btn-cadastro {
    background: #B5121B;
    color: white;
    border-radius: 30px;
    width: 100%;
    border: none;
    outline: none;
    padding: 8px 0 8px 15px;
    font-size: 17px;
    cursor: pointer;
}

.btn-login {
    margin-top: 105px;
}

.btn-cadastro {
    margin-top: 15px;
}

.divCheck {
    margin: 10px 0 0 5px;
    width: 80%;
    font-size: 13px;
}

#signin {
    left: 25px;
    margin-top: 45%;
}

#signup {
    left: 450px;
    margin-top: 105px;
}

i {
    position: absolute;
    left: 0;
    padding: 10px 10px;
}

.iEmailLogin {
    top: 4.5%;
    font-size: 17px;
}

.iLockLogin {
    top: 18.5%;
    font-size: 17px;
}

.iUser {
    top: 4.5%;
    font-size: 17px;
}

.iEmail {
    top: 18.5%;
    font-size: 17px;
}

.iPhone {
    top: 32.5%;
    font-size: 17px;
}

.iCalendar {
    top: 46.3%;
    font-size: 17px;
}

.iLock {
    top: 60.4%;
    font-size: 17px;
}