@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@100;300;400;500;700;900&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(/teste/img/img-fundoTeste6.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
}

.container {
    background: transparent;
    padding: 6px;
    width: 370px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
    border: 3px solid #b5121a;
    box-shadow: 0px 0px 30px 1px rgb(168, 3, 3);
    border-radius: 15px;
    backdrop-filter: blur(3px) grayscale(0.2) brightness(0.55);
}

form {
    position: absolute;
    margin-top: 80px;
    transition: .5s;
    width: 300px;
    height: 400px;
    color: white;
}

.buttonsForm {
    margin-top: 40px;
    position: relative;
    border-radius: 30px;
    box-shadow: 0 0 7px 0 #B5121B;
}

.buttonsForm button {
    cursor: pointer;
    background: transparent;
    border: none;
    position: relative;
    padding: 10px 21px;
    color: white;
}

.btnColor {
    position: absolute;
    width: 107px;
    height: 100%;
    background: linear-gradient(to right, #b5121a, #b5121ab0);
    border-radius: 30px;
    transition: .3s;
}

.btnLogin {
    font-size: 16px;
    left: 11px;
}

.btnCadastro {
    font-size: 16px;
    left: 7.5px;
}

#signin .btn-login {
    color: white;
    font-size: 17px;
    background: linear-gradient(to right, #b5121a, #b5121ab0);
    border-radius: 20px;
    width: 50%;
    height: 10%;
    border: 2px solid #b5121a;
    box-shadow: 0 0 10px 0 #B5121B;
    cursor: pointer;
    margin-left: 24%;
}

#signin .btn-login:hover {
    transform: scale(0.95);
    transition: all 0.3s;
}

#signup .btn-cadastro {
    color: white;
    font-size: 17px;
    background: linear-gradient(to right, #b5121a, #b5121ab0);
    border-radius: 20px;
    width: 50%;
    height: 10%;
    border: 2px solid #b5121a;
    box-shadow: 0 0 10px 0 #B5121B;
    cursor: pointer;
    margin-left: 25%;
    margin-top: 10px;
}

.btnCadastro {
    color: white;
    font-size: 15px;
    margin-left: 10px;
}

input[type="text"],
input[type="password"] {
    border: none;
    margin-top: 20px;
    border-radius: 60px;
    padding: 8px 0 8px 35px;
    outline: none;
    width: 100%;
    background: transparent;
    box-shadow: 0 0 12px 0 #B5121B;
    color: white;
    border: 2px solid #b5121a;
}

.btn-login {
    margin-top: 105px;
}

.btn-cadastro {
    margin-top: 15px;
}

#signin {
    left: 25px;
    margin-top: 50%;
}

#signup {
    left: 450px;
    margin-top: 105px;
}

i {
    position: absolute;
    left: 0;
    padding: 10px 10px;
}

.iEmailLogin {
    top: 4.9%;
    left: 1%;
    font-size: 17px;
}

.iLockLogin {
    top: 19.6%;
    left: 1%;
    font-size: 17px;
}

.iUser {
    top: 4.9%;
    left: 1%;
    font-size: 17px;
}

.iEmail {
    top: 19.7%;
    left: 1%;
    font-size: 17px;
}

.iPhone {
    top: 34.7%;
    left: 1%;
    font-size: 17px;
}

.iCalendar {
    top: 49%;
    left: 1%;
    font-size: 17px;
}

.iLock {
    top: 63.7%;
    left: 1%;
    font-size: 17px;
}